<div class="content container my-xl-2">
    <div class="row">
      <div class="content-section col-md-12 mx-auto">
        <div class="card">
         <div class="card-body">
          <form>
            <div class="row">

              <div *ngIf="mensaje_ok">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_ok}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>


              <div *ngIf="mensaje_error">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_error}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    (click)="cerrarAlerta()"></button>
                </div>
              </div>
              <h4>Editar Heroe:</h4>

              <div class="col-md-12 my-2">
              </div>

              <div class="col-md-2">
                <label class="">Nombre</label>
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="nombre" [(ngModel)]="heroeModel.nombre">
              </div>

              <div class="col-md-1">
                <label class="">Grupo</label>
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="grupo" [(ngModel)]="heroeModel.grupo" [disabled]="true" >
              </div>

              <div class="col-md-12 my-4">
              </div>
              <div class="col-md-2">
                <label class="">Lugar de operación</label>
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="lugarOperacion" [(ngModel)]="heroeModel.lugarOperacion" readonly>
              </div>

              <div class="col-md-1">
                <label class="">Condición</label>
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="condicion" [(ngModel)]="heroeModel.condicion" [disabled]="true" >
              </div>
              <div class="col-md-12 my-4">
            </div>

              <div class="col-md-2">
                <label class="">Tipo de poder</label>
              </div>

              <div class="col-md-4">
                <input type="text" class="form-control" name="tipoPoder" [(ngModel)]="heroeModel.tipoPoder" [disabled]="true" >
              </div>

              <div class="col-md-1">
                <label class="">Carro</label>
              </div>

              <div class="col-md-4">
    
                <select [disabled]="true"  [(ngModel)]="heroeModel.carro" class="form-control" name="carro">
                    <option [ngValue]="undefined"> --- Seleccionar una categoria ---</option>
                    <option *ngFor="let item of carro" [ngValue]="item">{{item.nombre}}</option>
                  </select>
              </div>
           
            </div>

            <div class="col-md-6 my-4">
              <button type="submit" class="btn btn-outline-primary m-3" routerLink="/docente"> Cancelar</button>

              <button type="submit" class="btn btn-primary m-3" (click)="crearHeroe()"> Guardar</button>

            </div>

          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
